.artymys {
  background: #dfeef8;
  margin: 0 24px 24px;
  @media (max-width: $breakpoint-desktop-small) {
    margin: 0;
  }

  .current {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding: 48px 18px;
    @media (max-width: $breakpoint-desktop-small) {
      padding: 60px;
    }

    &__content {
      display: inline-flex;
      align-items: center;
      color: #1b4ea9;
      z-index: 10;
      @media (max-width: $breakpoint-desktop-small) {
        flex-direction: column;
      }

      .icon {
        max-width: 268px;
        @media (max-width: $breakpoint-desktop-small) {
          margin-right: auto;
        }
      }

      .descpt {
        margin-left: 24px;
        @media (max-width: $breakpoint-desktop-small) {
          margin-top: 58px;
          margin-left: 0;
        }
        .title {
          font-family: "DIN Next W1G", Arial;
          font-size: 39px;
          font-style: normal;
          font-weight: 400;
          line-height: 47px;
          margin-bottom: 4px;
        }
        .text {
          font-family: "DIN Next W1G", Arial;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        .link {
          font-family: "DIN Next W1G", Arial;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          background: #ffece6;
          color: #f96430;
          margin-top: 16px;
          transition: .3s background ease-in-out;
          &:hover {
            background: #f9672f;
            color: #fff;
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }

    &__image {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
        @media (max-width: $breakpoint-desktop-small) {
          opacity: 0.4;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .current {
      padding: 30px 20px;
      .descpt {
        margin-top: 20px;
        .title {
          font-size: 32px;
          font-weight: normal;
        }
        .text {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}
