$breakpoint-desktop-large: '1440px';
$breakpoint-desktop-medium: '1280px';
$breakpoint-desktop-small-medium: '1200px';
$breakpoint-desktop-small: '992px';
$breakpoint-tablet-widest: '991px';
$breakpoint-tablet: '768px';
$breakpoint-mobile: '767px';
$breakpoint-small-mobile: '640px';
