$red: #F96430;
$living-coral: #FC5067;
$carbon-black: #2F323A;
$shadow-grey: #363C40;
$blackboard-grey: #5C5F62;
$cool-grey: #87949E;
$pewter-grey: #D5D3D3;
$ivory-grey: #EBEAED;
$grey: #EBEAED;
$light-grey: #F4F5F5;
$charcoal-grey: #52545A;
$blue: #1B4EA9;
