@font-face {
  font-family: 'DIN Next W1G';
  src: url('../fonts/DINNextW1G/DINNextW1G.woff2') format('woff2'),
  url('../fonts/DINNextW1G/DINNextW1G.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W1G';
  src: url('../fonts/DINNextW1G/DINNextW1G-Medium.woff2') format('woff2'),
  url('../fonts/DINNextW1G/DINNextW1G-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W1G';
  src: url('../fonts/DINNextW1G/DINNextW1G-Bold.woff2') format('woff2'),
  url('../fonts/DINNextW1G/DINNextW1G-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
